<div data-ng-controller="GPDDashboardController as $ctrl" ng-cloak>
   {{$ctrl.data.test}}
    <div class="chart-wrapper">
        <div class="chart" id="c3Chart" style="margin-left: -5px;">
        </div>
    </div>
</div>