
<div data-ng-controller="GPDDashboardCtrl as $ctrl" ng-cloak>
    <div class="row">
        <div class="col-md-6">
            <h1>
                <span aria-hidden="true" class="icon icon-grid-big"></span>
                <span class="main-text">
                    GPD Dashboard
                </span>
            </h1>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-blue" data-url="pages-profile.html" style="cursor: pointer;">
                <div class="c-widget-icon">
                    <span class="icon icon-user"></span>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">
                        {{$ctrl.data.UniqueUserCount | number}}
                    </div>
                    <div class="c-widget-content-sub">
                        Unique User
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-green" data-url="#" style="cursor: pointer;">
                <div class="c-widget-icon">
                    <span class="icon icon-dollar"></span>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">
                        {{$ctrl.data.ProjectCount | number}}
                    </div>
                    <div class="c-widget-content-sub">
                        Project
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-red" data-url="#" style="cursor: pointer;">
                <div class="c-widget-icon">
                    <span class="icon icon-list-circle"></span>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">
                        {{$ctrl.data.BPMCount | number}}
                    </div>
                    <div class="c-widget-content-sub">
                        BPM's
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-yellow" data-url="#" style="cursor: pointer;">
                <div class="c-widget-icon">
                    <span class="icon icon-chat"></span>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">
                        {{$ctrl.data.PartnerCount | number}}
                    </div>
                    <div class="c-widget-content-sub">
                        Partner
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="block">
                <div class="block-heading">
                    <div class="main-text h2">
                        Project by Application
                    </div>
                </div>
                <div class="block-content-outer">
                    <div class="block-content-inner">
                        <div id="ProjectChartD3" style="height:278px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- START Widget: Graph -->
            <div class="c-widget c-widget-graph c-widget-size-medium highlight-color-blue">
                <div class="c-widget-icon">
                    <span class="icon icon-arrow-down-bold-round"></span>
                </div>
                <div class="c-wdiget-graph-actual">
                    <div id="pctProjectManufacture" class="graph graph-epc graph-size-small" data-percent="89" data-graph-colors="#f14141,#6ec06e,#4596f1,#ffd040">
                        <span class="percent">89</span>
                    </div>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">                        
                    </div>
                    <div class="c-widget-content-sub">
                        <div class="gpd-widget-content-sub-heading">Percentage of Project with Manufacturer data</div>
                        sample text
                    </div>
                </div>
            </div>
            <!-- END Widget: Graph -->
            <!-- START Widget: Graph -->
            <div class="c-widget c-widget-graph c-widget-size-medium highlight-color-blue">
                <div class="c-widget-icon">
                    <span class="icon icon-star"></span>
                </div>
                <div class="c-wdiget-graph-actual">
                    <div id="pctProjectProductTAG" class="graph graph-epc graph-size-small" data-percent="38" data-graph-colors="#4596f1" style="width: 90px;">
                        <span class="percent">38</span>
                    </div>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">                        
                    </div>
                    <div class="c-widget-content-sub">
                        <div class="gpd-widget-content-sub-heading">Percentage of Project with ProductTAG data</div>
                        sample text
                    </div>
                </div>
            </div>
            <!-- END Widget: Graph -->
            <!-- START Widget: Graph -->
            <div class="c-widget c-widget-graph c-widget-size-medium highlight-color-blue">
                <div class="c-widget-icon">
                    <span class="icon icon-coins"></span>
                </div>
                <div class="c-wdiget-graph-actual">
                    <div id="pctAppProject" style="height:90px; width: 90px;"></div>
                </div>
                <div class="c-wdiget-content-block">
                    <div class="c-widget-content-heading">                        
                    </div>
                    <div class="c-widget-content-sub">
                        <div class="gpd-widget-content-sub-heading">Percentage of App by Project</div>
                        <span class="glyphicon glyphicon-arrow-left"></span> Hover over chart for details
                    </div>
                </div>
            </div>
            <!-- END Widget: Graph -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Top 5 Products
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <span>Categories with the most amount of contents</span>
                        <div id="topProducts" style="height: 150px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Top 5 Application
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <span>Application with the most amount of project</span>
                        <div id="topApplication" style="height: 150px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Top 5 Customers
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <span>Customer that have made the highest purchases</span>
                        <div id="topCustomers" style="height: 150px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="block block-size-normal">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Projects
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <span>Here are your sales &amp; average for this year</span>
                        <div id="projectYOYChart" style="height: 100px;"></div>
                        <div style="font-weight:bold;">Here are your projects &amp; average for this year</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Today (Daily Avg)</td>
                                        <td>{{1000 | number}}</td>
                                    </tr>
                                    <tr>
                                        <td>This Week (Weekly Avg)</td>
                                        <td>{{10200 | number}}</td>
                                    </tr>
                                    <tr>
                                        <td>This Month (Monthly Avg)</td>
                                        <td>{{51020 | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-size-normal">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Misc. Info
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <span>Here are your sales &amp; average for this year</span>
                        <div class="table-responsive misc-info">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>{{1000 | number}}</td>
                                        <td>Total Projects</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{4300 | number}}</td>
                                        <td>Total Content</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{3700 | number}}</td>
                                        <td>Total Revit Projects</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{3700 | number}}</td>
                                        <td>Total Users</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{2700 | number}}</td>
                                        <td>Largest Category</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{8140 | number}}</td>
                                        <td>Total Manufacturers</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-size-normal">
                <div class="block-heading" style="padding:5px 15px;">
                    <div class="main-text h2">
                        Recent Projects
                    </div>
                </div>
                <div class="block-content-outer" style="padding:5px 15px;">
                    <div class="block-content-inner">
                        <div class="table-responsive recent-projects">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Roswell Math and Science Charter School</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>Tonny's Ware House</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>NA</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>  
                                    <tr>
                                        <td>Roswell Math and Science Charter School</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>Tonny's Ware House</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>NA</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>  
                                    <tr>
                                        <td>Roswell Math and Science Charter School</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>Tonny's Ware House</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>NA</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>  
                                    <tr>
                                        <td>Roswell Math and Science Charter School</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>Tonny's Ware House</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>NA</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>  
                                    <tr>
                                        <td>Roswell Math and Science Charter School</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>Tonny's Ware House</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>
                                    <tr>
                                        <td>NA</td>
                                        <td>10/02/2017 02:56:03</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<hr />
    <span>Alternate chart</span>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="block">
                <div class="block-heading">
                    <div class="main-text h2">
                        Project by Application
                    </div>
                </div>
                <div class="block-content-outer">
                    <div class="block-content-inner">
                        <div id="graphProjectChart" class="graph graph-size-normal" style="height:270px;" data-graph-colors="#4596f1,#f17d45,#ff6a00,#b6ff00"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <div class="block-heading">
                    <div class="main-text h2">
                        Top Categories
                    </div>
                    <div class="block-controls">
                    </div>
                </div>
                <div class="block-content-outer">
                    <div class="block-content-inner">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr data-ng-repeat="d in $ctrl.data.TopCategories">
                                        <td><i class="fa fa-info-circle"></i></td>
                                        <td>{{d.name}}</td>
                                        <td>{{d.value | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
