<div data-ng-controller="GPDDashboardController as $ctrl" ng-cloak>
    <h2>GPD Analytics - Dashboard</h2>
    <div class="chart-wrapper">
        <div class="chart" id="c3Chart" style="margin-left: -5px;">
        </div>
    </div>
</div>