body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input.full-width,
    select.full-width {
        max-width: 100%;
    }

a {
    cursor: pointer;
}

    a.data-link {
        text-decoration: none;
        cursor: pointer;
    }

    a.header-data-link {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

        a.header-data-link:hover {
            color: #f2cdcd;
        }

tr.data-header-row {
    text-align: center;
    background-color: #F00;
    color: #fff;
    font-weight: bold;
}
.header-logo
{
    background: url(img/GPDLogo-small.png) center no-repeat ; 
    background-size: contain;
    width:75px;
    display:inline-block;
    border-radius:3px;    
    resize: both;
}
.data-container {
}

.container {
    width: 95%;
}

.search-filter-wrap {
    margin: 20px 0px;
    line-height: 2;
}

    .search-filter-wrap .search-filter {
        display: inline-block;
    }

.search-wrapper {
    margin: 20px 0px;
}

.search-box {
    min-height: 30px;
    width: 100%;
    max-width: 100%;
    line-height: 2;
}


.mandatory {
    color: #ff0000;
    padding: 0px 5px;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a.cusTooltip {
}

    a.cusTooltip span.container {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -30px;
        margin-left: 28px;
        width: 300px;
        line-height: 16px;
        border-radius: 4px;
        box-shadow: 5px 5px 8px #CCC;
    }


    a.cusTooltip:hover span.container {
        display: inline-block;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
        width: 200px;
    }

    a.cusTooltip span.container img.callout {
        z-index: 20;
        top: 30px;
        border: 0;
        left: -12px;
    }


ul.autocomplete {
    position: relative;
    left: 0;
    width: 100%;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    z-index: 3;
    font-size: 10px;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
}

    ul.autocomplete li {
        text-align: left;
        list-style: none;
        width: 100%;
        padding: 0.4em;
        background-color: #fff;
        cursor: pointer;
    }

        ul.autocomplete li:hover {
            background-color: #58B5CF;
            color: #fff;
        }

i.circle-border {
    border: solid 2px;
    width: 1.2em;
    text-align: center;
    border-radius: .6em;
}

h3.page-header-text {
}

img.partner-img {
    width: 1.5em;
}

div.breadcrumb {
    font-size: .8em;
    font-weight: bold;
    background-color: #fce7e7;
    padding: 5px;
}

    div.breadcrumb ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        div.breadcrumb ul li {
            margin: 0px 5px 0px 0px;
            padding: 0px;
            display: inline-block;
        }

/*====== Bootstrap Override Start ===================*/
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/*.navbar-inverse {
    background-color: #f59393;
    border-color: #f59393;
    color: #000000;
}

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #f59393;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #232222;
    }

    .navbar-inverse .navbar-brand {
        color: #232222;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #000000;
        background-color: #f59393;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #ff0000;
    }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #000000;
        }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
}*/

.modal-lg {
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
    display: none !important;
}
/*====== Bootstrap Override End ===================*/
@media only screen and (min-width : 321px) and (max-width : 480px) {
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
    .modal-lg {
        width: 95%;
    }
}

@media only screen and (min-width : 769px) and (max-width : 992px) {
    .modal-lg {
        width: 95%;
    }
}

@media only screen and (min-width : 993px) and (max-width : 1200px) {
    .modal-lg {
        width: 95%;
    }
}

@media only screen and (min-width : 1201px) {
    .modal-lg {
        width: 95%;
    }
}
