body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 1.4em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.data-link {
    text-decoration: none;
    cursor: pointer;
}

.data-header-row {
    text-align: center;
    background-color: #ECEFF1;
    font-weight: bold;
}

.data-container {
}



.container {
    width: 95%;
}

.modal-dialog {
    width: 95%;
}

    .modal-dialog .modal-lg {
        width: 95%;
    }


@media only screen and (min-width : 321px) and (max-width : 480px) {
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
}

@media only screen and (min-width : 769px) and (max-width : 992px) {
}

@media only screen and (min-width : 993px) and (max-width : 1200px) {
}

@media only screen and (min-width : 1200px) and (max-width : 1200px) {
}
