
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="ManageUser">
    <div data-ng-controller="ManageUserController as $ctrl" ng-cloak>
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="data-container">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div data-ng-if="filterData.length > $ctrl.data.page.itemPerPage" style="text-align: right;">
                        <div uib-pagination class="pagination-sm pagination" total-items="filterData.length"
                             ng-model="$ctrl.data.page.currentPage" ng-change="$ctrl.pageChanged()" previous-text="&lsaquo;"
                             next-text="&rsaquo;" items-per-page="$ctrl.data.page.itemPerPage" max-size="$ctrl.data.page.maxPage"
                             boundary-link-numbers="true">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group search-wrapper">
                        <input type="text" class="search-box" placeholder="Enter search term" data-ng-model="$ctrl.data.globalSearchParam" />
                        <a data-ng-href="" data-ng-click="$ctrl.OnGlobalSearch()" class="input-group-addon btn btn-primary"><i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover">
                    <thead style="background-color:#E9E9E9;">
                        <tr>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('firstName')">First Name&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('firstName')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.firstName" placeholder="Search by Name ..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('lastName')">Last Name&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('lastName')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.lastName" placeholder="..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('email')">Email&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('email')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.email" placeholder="..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('company')">Company&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('company')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.company" placeholder="..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('isActive')">Is Active&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('isActive')">
                                </i>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat-start="d in filterData = ($ctrl.data.users | filter:$ctrl.data.search | orderBy : $ctrl.ColumnSortOrder()) | limitTo : $ctrl.data.page.itemPerPage : $ctrl.data.page.itemPerPage * ($ctrl.data.page.currentPage - 1)">
                            <td>{{d.firstName}}</td>
                            <td>{{d.lastName}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.company}}</td>
                            <td style="text-align:center;">
                                <label title="Activat/Deactivate Partner"><input type="checkbox" data-ng-model="d.isActive" data-ng-click="$ctrl.OnActDeactItem(d)" /></label>
                            </td>
                            <td style="text-align:center;">
                                <a ng-href="" class="data-link" data-ng-click="$ctrl.OnColExpRole(d)"><i class="fa fa-list-ul"></i></a>
                            </td>
                        </tr>
                        <tr data-ng-repeat-end data-ng-if="$ctrl.IsShowRole(d)">
                            <td colspan="2"></td>
                            <td colspan="3">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead style="background-color:#E9E9E9;">
                                        <tr>
                                            <th>Partner</th>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="dr in d.roles">
                                            <td>{{dr.partnerNames}}</td>
                                            <td>{{dr.groupName}}</td>
                                            <td style="text-align:center;">
                                                <a ng-href="" class="data-link" data-ng-click="$ctrl.OnDeleteRole(dr)" title="Remove Role"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td>
                                                <a data-ng-href="" data-ng-click="$ctrl.OnAddRole()" class="btn btn-primary" title="Add Partner"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

