
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="ManageUser">
    <h2>Manage User</h2>
    <div data-ng-controller="ManageUserController as $ctrl">

    </div>
</div>

