@{
    ViewBag.Title = "Self Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="RegisterUser">
    <div data-id="divManageUser" data-ng-controller="RegisterUserCtrl as $ctrl" ng-cloak>
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="form-horizontal">
                    <h3>Create your account</h3>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-3">First Name</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.firstName" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Last Name</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.lastName" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Email</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.email" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Job Title</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.jobTitle" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Phone</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.phone" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <h3>Company Information</h3>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-3">Company Name</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.name" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Website</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.website" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Country</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.country" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Address</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.address" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Address2</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.address2" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">City</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.city" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">State</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.state" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Postal Code</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.postalCode" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Default Industry</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.company.defaultIndustry" class="form-control text-box single-line full-width" type="text" />
                        </div>
                    </div>                    
                    <h3>Password</h3>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-3">Choose Password:</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.password" class="form-control text-box single-line full-width" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Re-enter Password:</label>
                        <div class="col-md-9">
                            <input data-ng-model="$ctrl.data.user.confirmPassword" class="form-control text-box single-line full-width" type="password" />
                        </div>
                    </div>
                </div>
                <div style="text-align: right;">
                    <a class="btn btn-warning" data-ng-href="" data-ng-click="$ctrl.OnReset()"><i class="fa fa-times-circle-o"></i>&nbsp;Reset</a>
                    <a class="btn btn-primary" data-ng-href="" data-ng-click="$ctrl.OnSave()"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
