<div id="mainnav" data-ng-controller="GPDLeftMenuCtrl as $ctrl" ng-cloak>
    <ul class="mainnav" style="position: relative;">
        <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
        <li data-ng-class="$ctrl.MenuClass('GPD.Dashboard')">
            <a ui-sref="GPD.Dashboard" ui-sref-active="active" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-grid-big"></span>
                </span>
                <span class="main-menu-text">Dashboard</span>
            </a>
        </li>
        <li data-ng-controller="GPDPartnerCtrl as $ctrl" data-ng-class="$ctrl.MenuClass('GPD.Partner')" ng-cloak>
            <a data-ng-href="" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-grid-big"></span>
                </span>
                <span class="main-menu-text">Partner</span>
                <span class="main-menu-text">{{$ctrl.data.LogedinUserProfile.selectedPartner}}</span>
            </a>
            <ul data-id="menu" style="position: absolute;">
                <li data-ng-repeat="d in $ctrl.data.LogedinUserProfile.partnerNames">
                    <a data-ng-href="" data-ng-click="$ctrl.SelectPartner(d, $event)">{{d}}</a>
                </li>
            </ul>
        </li>
        <li data-ng-class="$ctrl.MenuClass('GPD.Project')">
            <a ui-sref="GPD.Project" ui-sref-active="active" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-grid-big"></span>
                </span>
                <span class="main-menu-text">Project</span>
            </a>
        </li>
        <li data-ng-class="$ctrl.MenuClass('GPD.Report')">
            <a data-ng-href="" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-dollar"></span>
                </span>
                <span class="main-menu-text">Report</span>
            </a>
            <ul style="position: absolute;">
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Projects</a></li>
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Application Activity</a></li>
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Users Activity</a></li>
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Categories</a></li>
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Manufacturers in Projects</a></li>
                <li><a ui-sref="GPD.Report" ui-sref-active="active">Content by Appplication</a></li>
            </ul>
        </li>
        <li data-ng-class="$ctrl.MenuClass('GPD.Manage')">
            <a data-ng-href="" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-settings"></span>
                </span>
                <span class="main-menu-text">Manage</span>
            </a>
            <ul style="position: absolute;">
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">Partner</a></li>
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">Administors</a></li>
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">Project Type</a></li>
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">Projects</a></li>
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">Category</a></li>
                <li><a ui-sref="GPD.Manage" ui-sref-active="active">User</a></li>
            </ul>
        </li>
        <li data-ng-class="$ctrl.MenuClass('GPD.Map')">
            <a ui-sref="GPD.Map" ui-sref-active="active"class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-map"></span>
                </span>
                <span class="main-menu-text">Map</span>
            </a>
        </li>
    </ul>
</div>