
/*====== Bootstrap Override Start ===================*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
    display: none !important;
}

.table {
    margin: 0px;
}
/*====== Bootstrap Override End ===================*/
/*====== C3 Override Start ========================*/
.c3-tooltip {
}

    .c3-tooltip .name {
        white-space: nowrap;
    }

.c3-legend-item-hidden {
    opacity: .30;
}
/*====== C3 Override End ==========================*/
.recent-projects {
}

.gpd-widget-content-sub-heading {
    font-weight: bold;
    color: #000;
}

.filter-caption {
    text-align: right;
    padding: 6px 5px;
    font-weight: bold;
}

@media only screen and (min-width : 321px) and (max-width : 480px) {
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
    .modal-lg {
        width: 95%;
    }
}

@media only screen and (min-width : 769px) and (max-width : 992px) {
    .modal-lg {
        width: 95%;
    }
}

@media only screen and (min-width : 993px) and (max-width : 1200px) {
    .modal-lg {
        width: 95%;
    }

    .recent-projects {
        overflow-y: auto;
        height: 300px;
    }
}

@media only screen and (min-width : 1201px) {
    .modal-lg {
        width: 95%;
    }

    .recent-projects {
        overflow-y: auto;
        height: 300px;
    }
}
/*====== Bootstrap Override End ===================*/


