@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div style="text-align:center;">
    <img src="~/Content/img/UL-Intelligence-big.png" class="img-responsive" style="margin:auto;" alt="Cinque Terre">
</div>

