@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan lorem non turpis aliquet luctus. Quisque sagittis, erat vitae dignissim venenatis, ante metus placerat nibh, id fermentum nisi metus ac massa. Nulla dignissim eget elit eu accumsan. Nulla ornare dapibus commodo. Donec quis lobortis lectus, vestibulum convallis lectus. Maecenas semper neque id metus aliquet, quis sagittis odio ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio quam, tempor et quam non, mattis vulputate diam. Nulla suscipit risus maximus ante euismod, elementum interdum augue pretium. Nullam rutrum euismod arcu ut gravida. Nulla ex velit, semper quis varius ut, mattis vitae turpis. Ut rhoncus massa in enim viverra viverra. Pellentesque nunc quam, faucibus a tristique vitae, cursus id lectus. Vestibulum eget blandit eros, ac aliquet ex.</p>

