
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-ng-app="Project" class="container-fluid" data-id="Project">
    <div data-ng-controller="ProjectController as $ctrl">
        <h2>@ViewBag.Title</h2>
        <div class="data-container">
            <div data-ng-if="filterData.length > $ctrl.data.page.itemPerPage" style="text-align: center;">
                <div uib-pagination class="pagination-sm pagination" total-items="filterData.length"
                     ng-model="$ctrl.data.page.currentPage" ng-change="$ctrl.pageChanged()" previous-text="&lsaquo;"
                     next-text="&rsaquo;" items-per-page="$ctrl.data.page.itemPerPage" max-size="$ctrl.data.page.maxPage"
                     boundary-link-numbers="true">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover">
                    <thead style="background-color:#E9E9E9;">
                        <tr>
                            <th></th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('name')">Name&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('name')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.name" placeholder="Search by Name ..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('client')">Client&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('client')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.client" placeholder="Search by Client ..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>
                                <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('status')">Status&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('status')">
                                </i><br />
                                <input data-ng-model="$ctrl.data.search.status" placeholder="Search by Status ..."
                                       style="width: 100%; height: 25px; margin-top: 4px;" />
                            </th>
                            <th>Location</th>
                            <th>Added On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="d in filterData = ($ctrl.data.projects | filter:$ctrl.data.search | orderBy : $ctrl.ColumnSortOrder()) | limitTo : $ctrl.data.page.itemPerPage : $ctrl.data.page.itemPerPage * ($ctrl.data.page.currentPage - 1)">
                            <td>
                                <a ng-href="" class="data-link" data-ng-click="$ctrl.OnOpenItem(d)"><i class="fa fa-list-ul"></i></a>
                            </td>
                            <td> {{d.name}}</td>
                            <td>{{d.client}}</td>
                            <td>{{d.status}}</td>
                            <td>
                                <ng-container data-ng-if="$ctrl.CheckEmpty(d.location.address1)">{{d.location.address1}},&nbsp;</ng-container>
                                <ng-container data-ng-if="$ctrl.CheckEmpty(d.location.city)">{{d.location.city}},&nbsp;</ng-container>
                                <ng-container data-ng-if="$ctrl.CheckEmpty(d.location.state)">{{d.location.state}},&nbsp;</ng-container>
                                <ng-container data-ng-if="$ctrl.CheckEmpty(d.location.zip)">zip - {{d.location.city}}</ng-container>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="container-fluid">
                    <div class="data-container">
                        <div data-ng-if="filterData.length > $ctrl.data.page.itemPerPage" style="text-align: center;">
                            <div uib-pagination class="pagination-sm pagination" total-items="filterData.length"
                                 ng-model="$ctrl.data.page.currentPage" ng-change="$ctrl.pageChanged()" previous-text="&lsaquo;"
                                 next-text="&rsaquo;" items-per-page="$ctrl.data.page.itemPerPage" max-size="$ctrl.data.page.maxPage"
                                 boundary-link-numbers="true">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-hover">
                                <thead style="background-color:#E9E9E9;">
                                    <tr>
                                        <th></th>
                                        <th>
                                            <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('product.name')">Name&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('product.name')">
                                            </i>
                                        </th>
                                        <th>
                                            <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('product.manufacturer')">Manufacturer&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('product.manufacturer')">
                                            </i>
                                        </th>
                                        <th>
                                            <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('family')">Family&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('family')">
                                            </i>
                                        </th>
                                        <th>
                                            <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('type')">Type&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('type')">
                                            </i>
                                        </th>
                                        <th>
                                            <a ng-href="" data-ng-click="$ctrl.OnChangeSorting('quantity')">Quantity&nbsp;</a><i data-ng-class="$ctrl.ColumnSortClass('quantity')">
                                            </i>
                                        </th>
                                        <th>
                                            Categories
                                        </th>
                                        <th>Price</th>
                                        <th>Materials</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="d in filterData = ($ctrl.data.project.items | filter:$ctrl.data.search | orderBy : $ctrl.ColumnSortOrder()) | limitTo : $ctrl.data.page.itemPerPage : $ctrl.data.page.itemPerPage * ($ctrl.data.page.currentPage - 1)">
                                        <td><a href="{{d.product.url}}" target="PRODUCT"><i class="fa fa-tags"></i></a></td>
                                        <td>{{d.product.name}}</td>
                                        <td>{{d.product.manufacturer}}</td>
                                        <td>{{d.family}}</td>
                                        <td>{{d.type}}</td>
                                        <td>{{d.quantity}}</td>
                                        <td>
                                            <div data-ng-repeat="dc in d.categories">
                                                {{dc.taxonomy}} : {{dc.title}}
                                            </div>
                                        </td>
                                        <td>$0.00</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.Ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.Cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>

