
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-ng-app="Project">
    <div data-ng-controller="ProjectController">
        <h2>@ViewBag.Title</h2>
        <p>{{data.projects[0].author}}</p>
    </div>
</div>

